header {
    margin-bottom: 50px;
}

body {
    font-family: "JetBrains Mono", Consolas, monospace;
    /* max-width: 50rem; */
    /* margin-left: 80px; */
    /* padding: 20px; */
    background-color: black;
    color: white;
    margin: 0;
}

.layout {
    display: flex;
    min-height: 100vh;
}

main {
  justify-content: center;
  padding: 40px;
}

/* MENU */

#menu {
    width: 220px;
    padding: 40px;
    position: sticky;
    top: 0;
    height: 100vh;
}

#menu ul {
    display: block;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-left: 40px;
    font-size: 14px;
}

#menu ul li span:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}